<section id="about-me" class="about-me">
  <div class="container grid-container">
    <h2 class="about-me-title">
      About <span class="about-me-title-decoration">me</span>
    </h2>
    <picture class="about-me-img">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/about-me/about-desk@1x.webp 1x,
          ./img/about-me/about-desk@2x.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/about-me/about-tab@1x.webp 1x,
          ./img/about-me/about-tab@2x.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/about-me/about-mob@1x.webp 1x,
          ./img/about-me/about-mob@2x.webp 2x
        "
      />
      <img src="./img/about-me/about-mob@1x.webp" alt="about-me-foto" />
    </picture>
    <div class="about-bio">
      <h3 class="about-topic-title">Bio</h3>
      <ul class="about-bio-list">
        <li class="about-bio-item">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </li>
        <li class="about-bio-item">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new tec hnologies and practices to stay
          current with the latest innovations in the field.
        </li>
      </ul>
    </div>
    <div class="about-education">
      <h3 class="about-topic-title">Education</h3>
      <ul class="about-education-list">
        <li class="about-education-item">
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </li>
        <li class="about-education-item">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </li>
        <li class="about-education-item">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </li>
      </ul>
    </div>
    <div class="about-role">
      <h3 class="about-topic-title">Role</h3>
      <ul class="about-role-list">
        <li class="about-role-item">Frontend development</li>
        <li class="about-role-item">HeadlessCMS, Wordpress</li>
        <li class="about-role-item">Blender (enjoy)</li>
      </ul>
    </div>
  </div>
</section>
