<section id="benefits" class="benefits">
  <div class="container benefirs-container">
    <div class="benefit-with-background-image">
      <img class="benefit-with-background-image" alt="" aria-hidden="true" />
    </div>
    <h2 class="benefits__title">
      BENEFITS
      <span class="benefits__title--accent">OF WORKING WITH ME</span>
    </h2>
    <ul class="benefits-list">
      <li class="benefit-item benefit-item--expertise">
        <a href class="benefit-item__icon">
          <svg width="24" height="24" class="benefit-icon">
            <use href="./img/sprite.svg#user"></use>
          </svg>
        </a>
        <h3 class="benefit-item__title">EXPERTISE</h3>
        <p class="benefit-item__description">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="benefit-item">
        <a href class="benefit-item__icon">
          <svg width="24" height="24" class="benefit-icon">
            <use href="./img/sprite.svg#chat"></use>
          </svg>
        </a>
        <h3 class="benefit-item__title">COMMUNICATION</h3>
        <p class="benefit-item__description">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="benefit-item">
        <a href class="benefit-item__icon">
          <svg width="24" height="24" class="benefit-icon">
            <use href="./img/sprite.svg#brush"></use>
          </svg>
        </a>
        <h3 class="benefit-item__title">ART</h3>
        <p class="benefit-item__description">
          Thanks to my creative nature, I am ready to accept challenges and help
          you bring your ideas to life.
        </p>
      </li>
      <li class="benefit-item">
        <a href class="benefit-item__icon">
          <svg width="24" height="24" class="benefit-icon">
            <use href="./img/sprite.svg#hourglass"></use>
          </svg>
        </a>
        <h3 class="benefit-item__title">URGENT EXECUTION</h3>
        <p class="benefit-item__description">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
