<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benefits</title>
    <link rel="stylesheet" href="/src/css/base.css" />
    <link rel="stylesheet" href="/src/css/benefits.css" />
    <link rel="stylesheet" href="/src/css/container.css" />
  </head>
  <body>
    <section id="benefits" class="benefits">
      <div class="container benefirs-container">
        <img
          src="decor3"
          class="benefit-with-background-image"
          alt=""
          aria-hidden="true"
        />
        <h1 class="benefits__title">
          BENEFITS
          <span class="benefits__title--accent"
            >OF <br />
            WORKING WITH <br />
            ME</span
          >
        </h1>
        <div class="benefits-grid">
          <ul class="benefits-list">
            <li class="benefit-item benefit-item--expertise">
              <a href class="benefit-item__icon">
                <svg width="24" height="24" class="benefit-icon">
                  <use href="/src/img/sprite.svg#person-icon"></use>
                </svg>
              </a>
              <h3 class="benefit-item__title">EXPERTISE</h3>
              <p class="benefit-item-description">
                With extensive experience in development, I have a deep
                understanding of programming and website development.
              </p>
            </li>
            <li class="benefit-item">
              <a href class="benefit-item__icon">
                <svg width="24" height="24" class="benefit-icon">
                  <use href="/src/img/sprite.svg#icon-sms"></use>
                </svg>
              </a>
              <h3 class="benefit-item__title">COMMUNICATION</h3>
              <p class="benefit-item__description">
                Understanding your needs and wants is my priority and I am
                always available for discussions and open to corrections.
              </p>
            </li>
            <li class="benefit-item">
              <a href class="benefit-item__icon">
                <svg width="24" height="24" class="benefit-icon">
                  <use href="/src/img/sprite.svg#icon-brush"></use>
                </svg>
              </a>
              <h3 class="benefit-item__title">ART</h3>
              <p class="benefit-item__description">
                Thanks to my creative nature, I am ready to accept challenges
                and help you bring your ideas to life.
              </p>
            </li>
            <li class="benefit-item">
              <a href class="benefit-item__icon">
                <svg width="24" height="24" class="benefit-icon">
                  <use href="/src/img/sprite.svg#icon-hourglass"></use>
                </svg>
              </a>
              <h3 class="benefit-item__title">URGENT EXECUTION</h3>
              <p class="benefit-item__description">
                I understand how important time is to you. Ready to work quickly
                and efficiently, without reducing the quality of work.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
