<section id="footer" class="footer">
  <div class="container">
    <div class="wrap">
      <h2 class="last-title">
        LLOYD<span class="footer-text">JEFFERSON.</span>
      </h2>
      <ul class="link-list">
        <li class="link-list-item">
          <a href="https://www.instagram.com/goitclub/">Instagram</a>
        </li>
        <li class="link-list-item">
          <a href="https://www.facebook.com/goITclub/">Facebook</a>
        </li>
        <li class="link-list-item">
          <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >Linkedin</a
          >
        </li>
        <li class="link-list-item">
          <a href="https://github.com/Anastasiia-Oli/fur-seal-team-js"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <h3 class="copyright-title">© Copyright 2024.  Made by LloydJefferson</h3>
  </div>
</section>
