<section id="header" class="header">
  <div class="container header-container">
    <div class="header-logo">
      <span class="header-logo-black">LLOYD</span
      ><span class="header-logo-green">JEFFERSON.</span>
    </div>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about-me" class="header-nav-link">About me</a>
        </li>
        <li class="header-nav-item">
          <a href="#my-projects" class="header-nav-link">Projects</a>
        </li>
        <li class="header-nav-item">
          <a href="#work-together" class="header-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="header-burger" aria-label="Open Menu">
      <svg class="header-burger-icon" width="24" height="24">
        <use href="./img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>

  <div class="header-mobile-menu">
    <div class="header-mobile-header">
      <div class="header-mobile-logo">
        <span class="header-logo-black">LLOYD</span
        ><span class="header-logo-green">JEFFERSON.</span>
      </div>
      <button class="header-mobile-close" aria-label="Close Menu">
        <svg class="header-mobile-close-icon" width="24" height="24">
          <use href="./img/sprite.svg#x-mark"></use>
        </svg>
      </button>
    </div>
    <div class="header-mobile-nav">
      <a href="#about-me" class="header-mobile-nav-link">About me</a>
      <a href="#my-projects" class="header-mobile-nav-link">Projects</a>
      <a href="#work-together" class="header-mobile-nav-link">Contacts</a>
    </div>
  </div>
</section>
