<section id="header" class="header">
  <div class="container">
    <div class="logo">
      <span class="black">LLOYD</span><span class="green">JEFFERSON.</span>
    </div>

    <nav class="nav-menu">
      <div class="mobile-header">
        <div class="mobile-logo">
          <span class="black">LLOYD</span><span class="green">JEFFERSON.</span>
        </div>
        <button class="close-menu" aria-label="Закрити меню">
          <svg class="close-icon" width="24" height="24">
            <use href="../img/sprite.svg#x-mark"></use>
          </svg>
        </button>
      </div>
      <ul class="nav-list">
        <li>
          <a class="lis-item" href="../partials/about-me.html">About me</a>
        </li>
        <li>
          <a class="lis-item" href="../partials/my-projects.html">Projects</a>
        </li>
        <li>
          <a class="lis-item" href="../partials/work-together.html">Contacts</a>
        </li>
      </ul>
    </nav>

    <button class="burger" aria-label="Open Menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="../img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</section>
