<section id="hero" class="hero">
  <div class="hero-container">
    <div class="hero-main">
      <div class="hero-left">
        <h1 class="hero-title">
          <span class="hero-title-black">HELLO, I AM</span>
          <span class="hero-title-green">FULLSTACK DEVELOPER</span>
        </h1>
        <button class="hero-btn">ORDER THE PROJECT</button>
      </div>
      <div class="hero-right">
        <div class="hero-photo">
          <img
            class="profile-img"
            src="../img/hero/hero-desck-v1@1x.webp"
            alt="Lloyd Jefferson"
          />
        </div>
        <p class="hero-desc">
          I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE
          <span class="text-green">IMPRESSIVE</span> AND
          <span class="text-green">FUNCTIONAL WEBSITES</span> THAT REFLECT EACH
          CLIENT'S UNIQUE PERSONALITY.
        </p>
      </div>
    </div>
    <div class="hero-social">
      <a
        class="social-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        >Instagram</a
      >
      <a
        class="social-link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        >Facebook</a
      >
      <a
        class="social-link"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it"
        target="_blank"
        >LinkedIn</a
      >
      <a
        class="social-link"
        href="https://anastasiia-oli.github.io/fur-seal-team-js/"
        target="_blank"
        >GitHub</a
      >
    </div>
  </div>
</section>
