<!-- тимчасова кнопка для перевірки -->
<button id="openModalBtn">Test button</button>


<div class="modal-overlay">
     <div class="modal">
        <button type="button" class="button-close" >
            <svg class="close-icon" width="24" height="24">
                <use href="../img/sprite.svg#x-mark"></use>
            </svg>
        </button>
        <h2 class="modal-header">Thank you for your interest in cooperation!</h2>
        <p class="modal-text">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
     </div>
</div>