<section id="reviews" class="reviews-section">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="error-message" id="error-message" style="display: none">
      Not found
    </div>
    <div class="swiper">
      <ul id="reviews-wrapper" class="reviews-list swiper-wrapper">
        <!-- Відгуки будуть додаватися тут динамічно -->
      </ul>
    </div>

    <div class="navigation-buttons">
      <button
        id="prev-button"
        class="nav-button-prev nav-button"
        aria-label="Previous"
      >
        <svg class="prev-button-re" width="24" height="24">
          <use href="./img/sprite.svg#arrow-left"></use>
        </svg>
      </button>
      <button
        id="next-button"
        class="nav-button-next nav-button"
        aria-label="Next"
      >
        <svg class="next-button-re" width="24" height="24">
          <use href="./img/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
