<section id="tech-skills" class="tech-skills">
  <div class="container custom-container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="tech-skills-marquee-1">
      <div class="tech-skills-track">
        <ul class="tech-skills-marquee-list">
          <li class="tech-skills-marquee-item">HTML/CSS</li>
          <li class="tech-skills-marquee-item">JavaScript</li>
          <li class="tech-skills-marquee-item">React</li>
          <li class="tech-skills-marquee-item">Node. js</li>
          <li class="tech-skills-marquee-item">React Native</li>
          <li class="tech-skills-marquee-item">Typescript</li>

          <li class="tech-skills-marquee-item">HTML/CSS</li>
          <li class="tech-skills-marquee-item">JavaScript</li>
          <li class="tech-skills-marquee-item">React</li>
          <li class="tech-skills-marquee-item">Node. js</li>
          <li class="tech-skills-marquee-item">React Native</li>
          <li class="tech-skills-marquee-item">Typescript</li>
      </div>
    </div>

    <div class="tech-skills-marquee-2">
      <div class="tech-skills-track">
        <ul class="tech-skills-marquee-list" aria-hidden="true">
          <li class="tech-skills-marquee-item">HTML/CSS</li>
          <li class="tech-skills-marquee-item">JavaScript</li>
          <li class="tech-skills-marquee-item">React</li>
          <li class="tech-skills-marquee-item">Node. js</li>
          <li class="tech-skills-marquee-item">React Native</li>
          <li class="tech-skills-marquee-item">Typescript</li>

          <li class="tech-skills-marquee-item">HTML/CSS</li>
          <li class="tech-skills-marquee-item">JavaScript</li>
          <li class="tech-skills-marquee-item">React</li>
          <li class="tech-skills-marquee-item">Node. js</li>
          <li class="tech-skills-marquee-item">React Native</li>
          <li class="tech-skills-marquee-item">Typescript</li>
        </ul>
      </div>
    </div> 
  </div>
</section>
