body {
  font-family: sans-serif;
}

.benefits {
  text-align: center;
}

.benefirs-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .benefirs-container {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

@media screen and (min-width: 1280px) {
  .benefirs-container {
    position: relative;
    padding-top: 164px;
    padding-bottom: 82px;
  }
}

/* @media screen and (min-width: 768px) {
  .benefit-with-background-image {
  }
} */

@media screen and (min-width: 1280px) {
  .benefit-with-background-image {
    content: '';
    position: absolute;
    top: 0;
    right: 32px;
    width: 526px;
    height: 408px;
    background-image: url('/src/img/decor-bg/decor-bg-3@2x.webp');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -11;
  }
}

.benefits__title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.8px;
  color: var(--accet-green);
  text-align: left;
}

@media screen and (min-width: 768px) {
  .benefits__title {
    font-size: 108px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .benefits__title {
    font-size: 108px;
    font-weight: 400;
  }
}

.benefits__title--accent {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--black);
}

.benefits-grid {
  display: grid;
}

/* @media screen and (min-width: 768px) {
  .benefits-grid {
  }
} */

@media screen and (min-width: 1280px) {
  .benefits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    width: 100%;
  }
}

.benefit-item {
  text-align: left;
  width: 384px;
  margin-bottom: 32px;
}

.benefit-item-top {
  justify-content: end;
  text-align: left;
  width: 384px;
  height: 124px;
}

.benefit-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #e0f2f7;
  border-radius: 8px;
  margin-bottom: 16px;
}

.benefit-icon {
  fill: var(--accet-green);
}

.benefits-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .benefits-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Створимо сітку з двох колонок */
    grid-template-rows: auto auto;
    gap: 32px;
  }
}

.benefit-item--expertise {
}

@media screen and (min-width: 768px) {
  .benefit-item--expertise {
    justify-self: end;
  }
}

@media screen and (min-width: 1280px) {
  .benefit-item--expertise {
    grid-column: 3 / -1;
    position: absolute;
    top: 276px;
    left: 864px;
    width: 384px;
    z-index: 1;
    margin-bottom: 32px;
  }
}

.benefit-item__title {
  /* font-family: */
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .benefit-item__title {
    font-size: 20px;
  }
}

.benefit-item__description {
  /* font-family: */
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: var(--black);
}
