.last-title {
    margin-top: 40px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap:32px;
    margin-bottom: 40px;
}
.link-list-item:hover,
.link-list-item:focus {
  color: #00B068;
}
.copyright-title {
    text-align: center;
    font-weight: 300;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 24px;
}

.last-title{
    font-family: "Impact";
    font-weight: 400;
font-size: 32px;
line-height: 100%;
letter-spacing: 0.05em;
text-transform: uppercase;
}

.footer-text {
    color: #00B068;
}

@media (min-width: 768px) {
    .link-list {
        flex-direction: row;
        gap:40px;
    }
    .copyright-title{
        text-align: right;
    }
}

@media (min-width: 1280px) {
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .last-title { 
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .link-list {
        margin-bottom: 0;
    }

}
