.tech-skills .container {
    padding: 40px 0;
}

.tech-skills-marquee-1 {
    overflow: hidden;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--black);
    background: var(--light-accent); 
    position: relative;   
    z-index: 300;
}

.tech-skills-marquee-2 {
    overflow: hidden;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--accet-green);
    background: var(--light-grey);
    transform: rotate(2deg);
    position: relative;   
    z-index: 200;
}

.tech-skills-track {
    display: flex;
    width: fit-content;
    animation: marqueeLine 10s linear infinite;
    flex-wrap: nowrap;        
    white-space: nowrap; 
}

.tech-skills-marquee-list {
    display: flex;
    gap: 16px;
    padding: 32px 0;
    margin: 0;
    list-style: none;
}

.tech-skills-marquee-item {
    position: relative;
    flex-shrink: 0;
    white-space: nowrap;
}

.tech-skills-marquee-item::before {
    content: "•";
    margin: 0 16px;
    color:var(--accet-green); 
}

.tech-skills-marquee-2 .tech-skills-track {
    animation-delay: 1s;
}

.tech-skills-marquee-2 .tech-skills-track .tech-skills-marquee-list .tech-skills-marquee-item::before {
    content: "•";
    margin: 0 16px;
    color: var(--black);
    transform: rotate(-180deg);   
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-50%);
    }
} 


@media screen and (min-width:768px) {
    .tech-skills .container {
        padding: 62px 0;
    }
}

@media screen and (min-width:1280px) {
    .tech-skills .container {
        padding: 82px 0;
        margin: 0;
    }
}